body {
  background-image: url(https://images.unsplash.com/photo-1432888498266-38ffec3eaf0a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1748&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

#form {
  text-align: center;
}

a {
  text-decoration: none;
}

a:visited {
  color: rgb(43, 108, 176);
}

.dropbtn {
  background-color: red;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 3px solid rgb(43, 108, 176);
  margin: 10px;
  width: 250px;
  justify-content: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #dc5658;
}

/* (Hidden by Default) */

.show {
  display: block;
}

#taskname,
#desc {
  width: 300px;
  border: 3px solid rgb(43, 108, 176);
  outline: 0;
  color: rgb(60, 66, 87);
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 4px 8px;
  min-height: 28px;
  vertical-align: middle;
  transition: background-color 0.24s, box-shadow 0.24s;
  transition-property: background-color, box-shadow;
  transition-duration: 0.24s, 0.24s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}

.btn {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: white;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(43, 108, 176);
  border: 1px solid rgb(66, 153, 225);
  line-height: 26px;
}

#startdate,
#enddate {
  border: 2px solid rgb(43, 108, 176);
}
