/* Dropdown Button */
.dropbtn {
  background-color: red;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 1px solid black;
  margin: 10px;
  width: 250px;
  justify-content: center;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #dc5658;
}

/* (Hidden by Default) */

.show {
  display: block;
}
