.ordered-list1 {
    background-color: orange;
}

body {
    background-color: rgb(243, 208, 180);
}

table, th, td {
    border: 1px solid black;
  }

  footer {
      display: flex;
      justify-content: center;
      background-color: orange;
  }

  .container {
      padding: 50px;
      border: 2px solid black;
      background-color: rgb(125, 209, 125);
      margin: 50px;
  }

  #box-1 {
    width: 25px;
  height: 45px;
  background: blue;
  display: inline-block;
  margin: 0;
  }

  #box-2 {
    width: 25px;
    height: 45px;
    background: white;
    display: inline-block;
    margin: 0;
  }

  #box-3 {
    width: 25px;
    height: 45px;
    background: red;
    display: inline-block;
    margin: 0;
  }

 