.navbar {
    position: absolute;
    right: 10px;
}

.nav-list {
    list-style-type: none;
    font-size: 30px;
    color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}

.cont {
    display: inline;
}